/*          Spezifisch        */
@font-face {  /* Titel-Font (Name) */
  font-family: 'Exodus';
  src: url('../fonts/Everyday/Bio/ExodusDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*          Allgemein         */
@font-face {      /* Logo-Font */
  font-family: 'Logo';
  src: url('../fonts/Everyday/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Navigation & stuff (Serif)*/
  font-family: 'Hauptfont';
  src: url('../fonts/Everyday/Ogg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Text-f für längere Texte (Sans Serif)*/
  font-family: 'Text';
  src: url('../fonts/Everyday/apercu-text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

html, body {
  height: 100%;
  margin: 0;
}

.logo {
  position: absolute;
  font-family: 'Logo', Georgia, Times, serif;
  font-size: 32px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: 5.2em;
}

.nav {
  margin: 3.5em;
  margin-right: 5.8em;
  right: 0;

  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  font-family: 'Hauptfont';
  font-size: 18px;
  line-height: 40px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #151522;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  width: 20px;
  transform: translateY(6px) rotate(90deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
  width: 20px;
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}


.nav a, .logo a, .settings a, .settings_resp a {
      color: black;
      text-decoration: none;
      transition: .3s;
}

.nav a:hover, .logo a:hover, .settings a:hover, .settings_resp a:hover {
      color: #C2C5A2;
      text-decoration: none;
      transition: .3s;
}

.settings_resp i {
  cursor: pointer;
}

.settings_resp a {
	display: inline-block;
}

.hidden {
  display: none;
}

a {
  color:#151522;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #C2C5A2;
  text-decoration: none;
}

#active {
      color: #C2C5A2;
}

.underline::after{
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #C2C5A2;
      transition: width .3s;
}

.underline:hover::after{
      width: 100%;
      transition: width .3s;
}

.nav .active_nav, .settings, .settings_resp {
  color: #C2C5A2;
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #C2C5A2;
}


/* Content - Site 1 */
.site-1 {
  min-height: 100%;
}

.box {
  position: absolute;
  top: 33%;
  margin-left: 17.65625%;
}

img {
  position: absolute;
  width: 595px;
  height: 397px;
  top: 0;
  left: 0;
  
  transform: rotate(90deg);
}

.content {
  position: absolute;
  width: 537px;
  height: 366px;
  top: 16.5px;
  left: 0;
}

#title p {
  position: absolute;
  width: 426px;
  height: 55px;
  left: 603px;
  top: 16px;
  
  font-family: Exodus;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  color: #000000;
}

#block {
  position: absolute;
  z-index: -1;

  width: 150px;
  height: 32px;
  left: 843px;
  top: 37px;
  
  background: linear-gradient(90deg, rgba(255, 110, 127, 0.5) 0%, rgba(191, 233, 255, 0.5) 100%);
}

#subtitle p {
  position: absolute;
  width: 133px;
  height: 17px;
  left: 551px;
  top: 158px;
  
  font-family: 'Hauptfont';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  
  color: #000000;
  
  transform: rotate(90deg);
  }

  #subtitle p::after {
    position: absolute;
    content: '';
    background: black;
    top: 12px;
    left: 140px;
    width: 98px;
    height: 1px;
  }

  #text p {
    position: absolute;
    width: 479px;
    height: 288px;
    left: 665px;
    top: 94px;
    
    font-family: 'Text';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4em;
    
    color: #000000;
    }

@media screen and (max-width: 1080px) {
  .logo {
    font-size: 50px;
    margin-left: 2em;
  }
  .nav {
    font-size: 28px;
    margin-right: 1.5em;
  }
  .box {
    top: 22%;
  }
  img {
    width: 1250px;
    height: auto;
    left: -275px;
  }
  .content {
    top: 1040px;
    left: -606px;
    width: 1050px;
  }
  #title p {
    padding-top: 40px;
    width: 800px;
    left: 600px;

    font-size: 80px;
  }
  #block {
    width: 290px;
    height: 65px;
    left: 1055px;
    top: 73px;
  }
  #subtitle p {
    display: none;
  }
  #text p {
    padding-top: 50px;
    width: 800px;
    left: 553px;

    font-size: 38px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .box {
    top: 28%;
  }
  img {
    width: 1120px;
    height: auto;
    left: -228px;
  }
  .content {
    top: 930px;
    left: -625px;
    width: 1050px;
  }
  #text p {
    left: 554px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 40px;
    margin: 1.7em;
    margin-left: 2.2em;
  }
  .nav {
    font-size: 22px;
    margin: 2.7em;
    margin-right: -5.2em;
  }
  .box {
    top: 31%;
  }
  img {
    width: 1000px;
    height: auto;
    left: -184px;
  }
  .content {
    top: 840px;
  }
  #title p {
    width: 600px;
    left: 653px;

    font-size: 64px;
  }
  #block {
    width: 232px;
    height: 52px;
    left: 1015px;
    top: 73px;
  }
  #text p {
    font-size: 30px;
  }
}

@media screen and (max-width: 415px) {
	.hidden {
	  display: none;
  }
  .logo {
    font-size: 35px;
    margin: 1.2em;
    margin-left: 1.5em;
  }
  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  /* Resp. Nav. Textausrichtung */
  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 12px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        opacity: 0;
        color: #151522;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  /* Burger-Position */
  .nav-btn {
        position: fixed;
        right: 10px;
        top: 34px;
        display: block;
        width: 48px;
        height: 48px;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #151522;
        border-radius: 2px;
        /*margin-left: 14px;*/
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
        width: 17px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
        width: 20px;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
        width: 12px;
  }

  .underline::after {
      display: none;
  }

  .active_nav::after {
    display: none;
  }

  .box {
    top: 35%;
  }
  img {
    width: 850px;
    height: auto;
    left: -197px;
  }
  .content {
    top: 700px;
  }
  #title p {
    width: 550px;
    left: 602px;

    font-size: 56px;
  }
  #block {
    width: 203px;
    height: 46px;
    left: 920px;
    top: 73px;
  }
  #text p {
    padding-top: 45px;
    left: 569px;
    width: 570px;
    font-size: 26px;
  }
}

@media screen and (max-width: 375px) {
  .box {
    top: 37%;
  }
  img {
    width: 872px;
    height: auto;
    left: -212px;
  }
  .content {
    top: 680px;
  }
  #title p {
    width: 520px;
  }
  #text p {
    padding-top: 37px;
    left: 565px;
  }
}
@media screen and (max-width: 320px) {
  .box {
    top: 44%;
  }
  img {
    width: 852px;
    height: auto;
    left: -202px;
  }
  #text p {
    left: 578px;
    width: 550px;
  }
}
