@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url("https://use.typekit.net/mfh5xwg.css");
@font-face {
  font-family: 'Dreamlight';
  src: url('../fonts/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    margin-top: 10%;;
    padding: 0;
    width: 100%;
    height: 70.5vh;
    background-color: white;
    text-align: center;
    font-size: 36px;
    letter-spacing: 7px;
    line-height: 5px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*min-height: 8vh;*/
  background-color: transparent;
  line-height: 40px;
  margin: 3.5em;
  margin-right: 5.8em;
  font-size: 18px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.logo {
  font-family: 'Dreamlight', Georgia, Times, serif;
  font-size: 32px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: 5.2em;
  cursor: pointer;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #151522;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  width: 20px;
transform: translateY(6px) rotate(90deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
  width: 20px;
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}


.nav a, .logo a{
      color: black;
      text-decoration: none;
      transition: .3s;
}

.nav a:hover, .logo a:hover{
      color: #C2C5A2;
      text-decoration: none;
      transition: .3s;
}

.hidden {
  display: none;
}

.bottom {
  background-color: white;
  font-family: adobe-garamond-pro, serif; 
  font-weight: 400;
  font-style: normal;
  cursor: crosshair;
}

.container{
  max-width: 1700px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #333;
  line-height: 2;
}

p {
  line-height: 1.6;
}

a {
  color:#151522;
  text-decoration: none;
}

a:hover {
  color: #C2C5A2;
  text-decoration: none;
}

.column {
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
}

hr {
  width: 810px;     /*810px*/
  border: 0.1px solid #d4d4d4;
  height: 1px;
  margin-left: 29%;
  margin-right: 50%;
}

#footer {
  background-color: #fff;
  padding: 50px;
  bottom: 50%;
  margin-left: 500px;
  cursor: crosshair;
}

#footer a {
  color: #151522;
  text-decoration: none;
  transition: .3s;
}

#footer a:hover {
  color: #888;
  transition: .3s;
}

#footer h4 {
  color: #151522;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: #151522;
}

.social-media {
  margin-top: 2%;
  margin-left: 1%;
  font-size: 22px;
  letter-spacing: 12px;
  cursor: pointer;
}

#active {
      color: #C2C5A2;
}

.underline::after{
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #C2C5A2;
      transition: width .3s;
}

.underline:hover::after{
      width: 100%;
      transition: width .3s;
}

.nav .active_nav {
  color: #C2C5A2;
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #C2C5A2;
}

@media screen and (max-width: 768px) {
	  .hidden {
	  	display: none;
	  }
  .wrapper {
    width: 100%;
    height: 78vh;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 15%;
  }
  .logo {
    font-size: 24px;
  	margin: 1em 0 0 1.5em;
  }
  hr {
    width: 50%;    /*53,2194%*/
  }
  #footer {
    margin-left: 0;
    text-align: center;
  }
  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        opacity: 0;
        color: #151522;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #151522;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
        width: 17px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
        width: 20px;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
        width: 12px;
  }
  .underline::after {
      display: none;
  }
  #text {
    padding-top: 40px;
  }
  .active_nav::after {
    display: none;
  }
}
