/*          Spezifisch        */
@font-face {      /* (Serif) */
  font-family: 'Selected';
  src: url('../fonts/Everyday/Contact/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*          Allgemein         */
@font-face {      /* Logo-Font */
  font-family: 'Logo';
  src: url('../fonts/Everyday/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Navigation & stuff (Serif)*/
  font-family: 'Hauptfont';
  src: url('../fonts/Everyday/Ogg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Titel-f für längere Texte (Sans Serif)*/
  font-family: 'Title';
  src: url('../fonts/Everyday/apercu-title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Text-f für längere Texte (Sans Serif)*/
  font-family: 'Text';
  src: url('../fonts/Everyday/apercu-text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  z-index: 9991;
  position: absolute;
  font-family: 'Logo', Georgia, Times, serif;
  font-size: 32px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: 5.2em;
}

.nav {
  margin: 3.5em;
  margin-right: 5.8em;
  right: 0;

  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  font-family: 'Hauptfont';
  font-size: 18px;
  line-height: 40px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #151522;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(90deg);
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
  width: 20px;
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.nav a, .logo a, .settings a, .settings_resp a, .so-me-resp ul li a {
  color: black;
  text-decoration: none;
  transition: .3s;
}

.nav a:hover, .logo a:hover, .settings a:hover, .settings_resp a:hover, .so-me-resp ul li a:hover {
  color: #C2C5A2;
  text-decoration: none;
  transition: .3s;
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #C2C5A2;
}

.nav .active_nav {
  color: #C2C5A2;
}

.settings_resp i {
  cursor: pointer;
}

.settings_resp a {
	display: inline-block;
}

a {
  color:#151522;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #C2C5A2;
  text-decoration: none;
}

#active {
  color: #C2C5A2;
}

.underline::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #C2C5A2;
  transition: width .3s;
}

.underline:hover::after{
  width: 100%;
  transition: width .3s;
}

/* Dropdown */
ul .dropdown {
  z-index: 9999;

  background: #FFFFFF;
  border: 2px solid #C2C5A2;
  box-sizing: border-box;

  line-height: 35px;

	list-style: none;
	margin: 0;
  padding-left: 0;
  text-align: center;
}

ul li ul {
	visibility: hidden;
  opacity: 0;
	position: absolute;
  transition: all 0.5s ease;

  top: 2.2em;
  left: 171px;
  right: 125px;

  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 200px;
}

ul li ul li a {
  margin-left: 30px;
}

/* Content - Site 1 */
.left {
  z-index: 2;
  position: absolute;
  background-repeat: no-repeat;
  width: 866px;
  height: 620px;
  left: 41.4%;
  top: 21.6%;
  background: url(../img/Blue-Water_cropped.jpg);
}

/* Resp Contact */
.contact {
  top: 0;
  left: 0;

  font-family: 'Hauptfont';
  font-style: normal;
  font-weight: normal;

  color: #252525;
}

.contact-h {
  position: absolute;
  top: 10.5%;
  left: 40.9%;
  
  font-size: 37px;
  line-height: 57px;
}

.contact-h-u {
  position: absolute;
  top: 13.2%;
  left: 40.9%;

  font-size: 25px;
  line-height: 57px;
  letter-spacing: 1.2px;
}
/* Form */

/* Basic Position */
.resp {
  z-index: 999;
  position: absolute;
  width: 538px;
  height: 620px;
  left: 13.4895833%;
  top: 21.6%;

  
  background: #FFFFFF;
  border: 1.5px solid #E3E3E3;
  box-sizing: border-box;
}

/* Label - Title */
form label {
  font-family: 'Selected';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  left: 146px;

  color: #979797;
}

/* Label - Header */
.firma-h {
  position: absolute;
  width: 46px;
  top: 17px;
}

.firma-h-o {
  position: absolute;
  width: 67px;
  left: 320px;
  top: 17px;
  
  font-style: italic;
}

.resp2 {
  display: block;
}
.resp3 {
  display: none;
}

.gender-h {
  position: absolute;
  width: 86px;
  top: 105px;
}

.gender-h-w button {
  position: absolute;
  width: 67px;
  left: 312px;
  top: 105px;

  color: #979797;
  background-color: #fff;
  border: none;

  font-family: 'Selected';
  font-size: 17px;

  transition: .2s;
}

.gender-h-w button:hover {
  color: #C2C5A2;
  transition: .2s;
}

.male-h, .female-h {
  position: absolute;
  width: 86px;
  top: 12px;
  left: 36px;
  
  font-family: 'Selected';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  
  color: #242424;
}

.name-h {
  position: absolute;
  width: 46px;
  top: 193px;
}

.email-h {
  position: absolute;
  width: 60px;
  top: 281px;
}

.service-h {
  position: absolute;
  width: 120px;
  top: 369px;
}

.msg-h {
  position: absolute;
  width: 74px;
  top: 457px;
}

/* Input */
input[type=text], input[type=email], .service-t select, textarea {                                 /* Danach */
  width: 244px;
  height: 53px;

  background: #FFFFFF;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 3px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  color: black;

  transition: .2s;
}

input[type=text]:hover, input[type=email]:hover, select:hover, textarea:hover, .gender-t-m:hover, .gender-t-f:hover  {
  border-color: rgb(88, 171, 253);
  box-shadow: 0 0 3px 0 rgb(88, 171, 253);
  transition: .2s;
}

input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus+label {
    border-color: dodgerBlue;
    box-shadow: 0 0 5px 0 dodgerBlue;
    transition: .2s;
}

/* Invalid-Icon */
#name-inv {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1525px;
  top: 447px;
  
  background: #EA6F71;
}

/* Valid-Icon */
#name-val {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1525px;
  top: 447px;
  
  background: #5ADA8D;
}

/* Invalid-Message */

/* Input Box */
.firma-t, .gender-t-m, .gender-t-f-a, .name-t, .email-t, .service-t, .msg-t {
  position: absolute;
  left: 146px;
}

.firma-t {
  top: 42px;
}

.gender-t-m {
  display: block;
  position: absolute;
  width: 112px;
  height: 53px;
  top: 130px;
  
  background: #FFFFFF;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 3px;

  transition: .2s;
}

.gender-t-m-a {
  display: none;
  z-index: -88;

  position: absolute;
  left: 278px;
  top: 130px;

  transition: .2s;
}

.gender-t-f {
  position: absolute;
  width: 112px;
  height: 53px;
  left: 278px;
  top: 130px;
  
  background: #FFFFFF;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 3px;

  transition: .2s;
}

.gender-t-f-a {
  display: none;
  z-index: -88;

  top: 130px;

  transition: .2s;
}

.gender-t-m-a select, .gender-t-f-a select {
  width: 112px;
  height: 53px;

  background: #FFFFFF;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 3px;
      
  font-family: 'Selected';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  color: black;
}

.gender-t-m-a select:hover, .gender-t-f-a select:hover {
  border-color: rgb(88, 171, 253);
  box-shadow: 0 0 3px 0 rgb(88, 171, 253);
  transition: .2s;
}

.name-t {
  top: 218px;
}

.email-t {
  top: 306px;
}

.service-t {
  top: 394px;
}

.msg-t {
  top: 482px;
}

/*Input Text*/
#firma, #gender, #name, #email, #service, #msg {        
  font-family: 'Selected';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}

#firma::before, #gender::before, #name::before, #email::before, #msg::before, ::placeholder {
  color: #C3C3C3;
}

#firma::after, #gender::after, #name::after, #email::after, #msg::after {
  color: black;
}

#firma {
  position: absolute;
  padding-top: 2px;
  padding-left: 12px;
}

/* Circle for Gender-Ratio */
#male, #female {
  position: absolute;
  margin-left: 13px;
  margin-top: 17px;
}

#anrede {
  position: absolute;
  padding-left: 8px;
}

#name {
  position: absolute;
  padding-top: 2px;
  padding-left: 12px;
}

#email {
  position: absolute;
  padding-top: 2px;
  padding-left: 12px;
}

#service {
  position: absolute;
  padding-top: 2px;
  padding-left: 8px;
}

select option[value=""] {
  color: #C3C3C3;
}

select option {
  color: black;
}

#msg {
  position: absolute;
  padding-top: 15px;
  padding-left: 12px;
}

/* Submit */
input[type="submit"] {
  position: absolute;
  width: 130px;
  height: 44px;
  left: 203px;
  top: 553px;
  
  background: #5ADA8D;
  border: 3px solid #5ADA8D;
  box-sizing: border-box;
  border-radius: 1px;

  transition: .2s;
  
  font-family: 'Selected';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  
  color: #FFFFFF;
}

input[type="submit"]:hover {
  background: rgb(71, 165, 108);
  border: rgb(71, 165, 108);

  transition: .2s;
}

input[type="submit"]:active {
  background: rgb(49, 139, 85);
  border: rgb(49, 139, 85);

  transform: scale(0.98, 0.98);

  transition: .2s;
}

ul {
  list-style: none;
}

/* Input-Icons */
.inputWithIcon input[type="text"], .inputWithIcon input[type=email] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

#captcha {
  margin-right: 50%;
}

.so-me-resp  {
  padding-top: 92.4vh;
  font-size: 22px;

  display: none;
  justify-content: space-around;
  align-items: center;
}

.so-me-resp {
  display: flex;
}

.so-me-resp ul {
  z-index: 9991;
}

.so-me-resp ul li {
  display: inline;
  margin: 4.3em;
}

@media screen and (max-width: 1024px) { /* iPad Pro */
  .logo {
    margin: 2.2em;
    margin-left: 2.7em;
  }

  .nav {
    margin: 3.5em;
    margin-right: 1.2em;
  }

  .resp2 {
    display: none;
  }

  .resp3 {
    display: block;
  } 
  
  .contact-h {
    top: 12.2%;
    left: 45%;
  }

  .contact-h-u {
    top: 14.4%;
    left: 45%;
  }

  .left {
    left: 10.4%;
    top: 24%;
  }

  .resp {
    width: 534px;
    left: 5%;
    top: 24%;
  }
}

@media screen and (max-width: 915px) { /* Burger */
  .logo {
    font-size: 32px;
    margin: 48px 0 0 60px;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    left: 2.3%;
    transform: translateY(-50%);
    width: 100%;
  }

  /* Resp. Nav. Textausrichtung */
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    opacity: 0;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  /* Burger-Position */
  .nav-btn {
    position: fixed;
    top: 38px;
    right: 40px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  /* Hamburger*/
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
    width: 17px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    width: 20px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
    width: 12px;
  }
  
  .active_nav::after {
    display: none;
  }

  .underline::after {
    display: none;
  }
  
  .so-me-resp {
    display: none;
  }
}

@media screen and (max-width: 768px) {  /* iPad sized */
  .nav {
    line-height: 2.99;
  }
  
  .contact-h {
    top: 12.2%;
    left: 40.779%;
  }

  .contact-h-u {
    top: 14.6%;
    left: 40.779%;
  }

  .left {
    display: none;
  }

  .resp {
    width: 538px;
    height: 665px;
    left: 15%;
    top: 24%;
    
    border: 1.5px solid #E3E3E3;
    border-radius: 5px;
  }
  
  /* Label - Title */
  form label {
    font-size: 15px;
  }

  /* Header */
  .firma-h, .firma-h-o {
    top: 33px;
  }
  
  .gender-h, .gender-h-w button {
    top: 121px;
  }
  
  .name-h {
    top: 209px;
  }
  
  .email-h {
    top: 297px;
  }
  
  .service-h {
    top: 385px;
  }
  
  .msg-h {
    top: 473px;
  }
  
  /* Box */
  .firma-t {
    top: 58px;
  }
  
  .gender-t-m, .gender-t-m-a, .gender-t-f, .gender-t-f-a {
    top: 146px;
  }
  
  .name-t {
    top: 234px;
  }
  
  .email-t {
    top: 322px;
  }
  
  .service-t {
    top: 410px;
  }
  
  .msg-t {
    top: 498px;
  }

  input[type="submit"] {
    top: 586px;
  }
}

@media screen and (max-width: 414px) { /*iPhone 6/7/8 + sized */ 
  .logo {
    font-size: 24px;
    margin: 1em 0 0 1.5em;
  }

  /* Burger-Position */
  .nav-btn {
    right: 10px;
    top: 17px;
  }

  .nav-wrapper {
    line-height: 45px;
  }

  .nav-wrapper ul li a {
    font-size: 17px;
  }

  .contact-h {
    top: 8.7%;
    left: 32.9%;
  }
  .contact-h-u {
    top: 11.9%;
    left: 32.9%;
  }
  .resp {
    width: 100%;
    left: -15%;  
    top: 17%;
    border: none;
  }
  .content {
    width: 537px;
    height: 366px;
    top: 604px;
    left: -153.5%;
  }
  #title p {
    font-size: 35px;
    left: 126.7%;
    width: 60%;
  }
  #text p {
    top: 73px;
    left: 665px;
    text-align: center;
    width: 350px;
  }
}

@media screen and (max-width: 396px) {  /* Pocophone sized */ 
  .contact-h-u {
    top: 12%;
  }
  .resp {
    left: -17.9%;
  }
  .content {
    width: 537px;
    height: 366px;
    top: 610px;
    left: -161.5%;
  }
  #title p {
    font-size: 35px;
    left: 126.7%;
  }
  #text p {
    top: 73px;
    left: 665px;
    text-align: center;
    width: 350px;
  }
}

@media screen and (max-width: 375px) {  /* iPhone 6/7/8 sized */
  .contact-h {
    top: 9.4%;
    left: 34%;
    font-size: 32px;
  }
  .contact-h-u {
    top: 13.1%;
    left: 34%;
    font-size: 21px;
  }
  .resp {
    left: -21.5%;
    top: 18.5%;
  }
  .content {
    width: 537px;
    height: 366px;
    top: 88.5%;
    left: -173%;
  }
  #title p {
    font-size: 35px;
    left: 126.7%;
  }
  #text p {
    top: 73px;
    left: 665px;
    text-align: center;
    width: 350px;
  }
}

@media screen and (max-width: 375px) and (height: 812px) { /* iPhone X sized */
  .contact-h {
    top: 9.65%;
  }
  .content {
    width: 537px;
    height: 366px;
    top: 75%;
    left: -170%;
  }
  #title p {
    font-size: 35px;
    left: 124%;
  }
  #text p {
    top: 73px;
    left: 660px;
    text-align: center;
    width: 330px;
  }
}

@media screen and (max-width: 360px) {  /* Galaxy S5 sized */
  .contact-h {
    top: 10.1%;
    left: 33.7%;
    font-size: 32px;
  }
  .contact-h-u {
    top: 13.6%;
    left: 33.7%;
    font-size: 20px;
    letter-spacing: 1.7px;
  }
  .resp {
    left: -24.3%;
    top: 19.7%;
  }
  .content {
    width: 537px;
    height: 366px;
    top: 90.5%;
    left: -179%;
  }
  #title p {
    font-size: 35px;
    left: 124%;
  }
  #text p {
    top: 73px;
    left: 660px;
    text-align: center;
    width: 330px;
  }
}

@media screen and (max-width: 320px) {  /* iPhone 5 sized */
  .contact-h {
    top: 11.1%;
    left: 31.5%;
  }
  .contact-h-u {
    top: 14.9%;
    left: 31.5%;
  }
  .resp {
    left: -33.2%;
    top: 20.95%;
  }
  .content {
    width: 535px;
    height: 366px;
    top: 95.5%;
    left: -197%;
  }
  #title p {
    font-size: 35px;
    left: 122%;
  }
  #text p {
    top: 73px;
    left: 655px;
    text-align: center;
    width: 315px;
  }
}
