@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@font-face {
  font-family: 'Dreamlight';
  src: url('../fonts/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exodus';
  src: url('../fonts/Exodus/ExodusDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Baskvill';
  src: url('../fonts/Baskvill.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}
.nav {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*min-height: 8vh;*/
  background-color: transparent;
  line-height: 40px;
  margin: 3.5em;
  margin-right: 5.8em;
  font-size: 18px;
  position: absolute;
  right: 0;
}

.logo {
  font-family: 'Dreamlight', Georgia, Times, serif;
  font-size: 32px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: -7.5em;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #151522;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  width: 20px;
transform: translateY(6px) rotate(90deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
  width: 20px;
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}


.nav a, .logo a, .settings a, .settings_resp a {
      color: black;
      text-decoration: none;
      transition: .3s;
}

.nav a:hover, .logo a:hover, .settings a:hover, .settings_resp a:hover {
      color: #C2C5A2;
      text-decoration: none;
      transition: .3s;
}

.settings_resp i{
  cursor: pointer;
}

.settings_resp a{
	display: inline-block;
}

.hidden {
  display: none;
}
.inhalt {
  margin-top: 27.7vh;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1100px;
}
.container .card {
  width: 320px;
  margin: 20px;
  padding: 40px 30px;
  border-radius: 40px;
  background: #f0f0f0;
  box-shadow:  20px 20px 40px #d1d1d1, 
               -20px -20px 40px #ffffff;
}
.container .card:hover {
  box-shadow: inset 11px 11px 25px #cecece, 
            inset -11px -11px 25px #ffffff;
}
.container .card .imgBx {
  position: relative;
  text-align: center;
}
.container .card .imgBx img {
  max-width: 120px;
}
.container .card .contentBx {
  position: relative;
  margin-top: 15px;
}
.container .card .contentBx .link {
  text-align: center;
}
.container .card .contentBx h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
}
.container .card .contentBx p {
  text-align: center;
  margin-top: 5px;
  line-height: 1.7em;
  font-size: 18px;
}
.container .card .contentBx #business-t span,
.container .card .contentBx #private-t span,
.container .card .contentBx #help-t span {
  line-height: 1.7em;
  font-size: 16px;
}
#business-h {
  background-image: linear-gradient(to right top, #1758F1, #37DBE0);
}
#business-t, #business-t a {
  color: #2594E9;
}
#private-h {
  background-image: linear-gradient(to right top,#004d7a, #008793, #00bf72, #a8eb12);
}
#private-t, #private-t a {
  color: #008B91; 
}
#help-h {
  background-image: linear-gradient(to right top, #E1516A, #FEAD2A);
}
#help-t, #help-t a{
  color: #F28743;
}
.container .card .contentBx a {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 40px;
  box-shadow:  20px 20px 40px #d1d1d1, 
               -20px -20px 40px #ffffff;
}
.container .card .contentBx a:hover {
  box-shadow: inset 7px 7px 26px #d8d8d8, 
            inset -7px -7px 26px #ffffff;
}
.container .card a:hover span {
  display: block;
  transform: scale(0.98);
}
.container .card:hover .imgBx, 
.container .card:hover .contentBx {
  transition: .2s;
  transform: scale(0.98);
}
.column {
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
}
#down {
  width: 815px;
  border: 0.1px solid #d4d4d4;
  height: 1px;
  margin-left: 16%;
  margin-right: 50%;
  margin-top: 22.5vh;
}

#footer {
  font-family: 'Baskvill';
  padding: 50px;
  margin-left: 129px;
}

#footer a {
  color: #151522;
  text-decoration: none;
  transition: .3s;
}

#footer a:hover {
  color: #888;
  transition: .3s;
}

#footer h4 {
  color: #151522;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: #151522;
}

.social-media {
  margin-top: 2%;
  margin-left: 1%;
  font-size: 22px;
  letter-spacing: 12px;
}

#active {
      color: #C2C5A2;
}

.underline::after{
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #C2C5A2;
      transition: width .3s;
}

.underline:hover::after{
      width: 100%;
      transition: width .3s;
}

.nav .active_nav, .settings, .settings_resp {
  color: #C2C5A2;
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #C2C5A2;
}

@media screen and (max-width: 1550px) {
  .header {
    margin-top: -19.7%;
  }
  #down {
    width: 50%;    /*53,2194%*/
  }
  #footer {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1500px) {
  .header {
    margin-top: -20.5%;
  }
}

@media screen and (max-width: 1420px) {
  .header {
    margin-top: -21.5%;
  }
}

@media screen and (max-width: 1290px) {
  .header {
    margin-top: -23.4%;
  }
}

@media screen and (max-width: 1160px) {
  .header {
    margin-top: -25.7%;
  }
  .header_rotated::after {
    width: 70px;
  }
}

@media screen and (max-width: 1030px) {
  .header {
    margin-top: -28.7%;
  }
  .header_rotated::after {
    top: 9px;
    width: 35px;
  }
}

@media screen and (max-width: 965px) {
  .header {
    margin-top: -30.5%;
  }
  .header_rotated::after {
    top: 9px;
    width: 26px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    margin-top: -35.5%;
  }
  .header_rotated::after {
    width: 50px;
  }
  .biographie {
    max-width: 400px;
    margin-top: -21.5%;
  }
  .logo {
    margin-left: 3em;
  }
  .nav {
    margin-right: 3em;
  }
}

@media screen and (max-width: 810px) {
  .header {
    margin-top: -37.8%;
  }
  .header_rotated {
    display: none;
  }
  .header_rotated::after {
    display: none;
  }
  .biographie {
    max-width: 400px;
    margin-top: -24%;
    margin-left: 45.5%;
  }
}

@media screen and (max-width: 768px) {
	  .hidden {
	  	display: none;
    }
  .settings_resp a{
  	display: inline-block;
  }
  .settings a{
  	display: none;
  }
  .site-1 {
    width: 100%;
    height: 135vh;
  }
  .logo {
    font-size: 24px;
  	margin: 1em 0 0 1.5em;
  }
  #down {
    width: 50%;    /*53,2194%*/
  }
  #footer {
    margin-left: 0;
    text-align: center;
  }
  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        opacity: 0;
        color: #151522;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #151522;
        border-radius: 2px;
        /*margin-left: 14px;*/
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
        width: 17px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
        width: 20px;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
        width: 12px;
  }
  .underline::after {
      display: none;
  }

  img {
    width: 100%; 
    height: auto;
    margin-top: 35%;
    margin-left: 0%;
  }

  .header {
    margin-top: 18%;
    margin-left: 21%;
    font-size: 28px;
  }

  .biographie {
    display: none;
  }

  #bio_resp {
  display: inline-block;
  text-align: center;
  max-width: 75%;
  margin-top: 2%;
  margin-left: 12.5%;
  font-family: 'Ubuntu';
  font-size: 16px;
  line-height: 1.7em;
  }

  .header_rotated {
    display: none;
  }
  .active_nav::after {
    display: none;
  }
}
