@media (prefers-color-scheme: dark) { 

 .nav, .nav-wrapper, .wrapper, .bottom, #white, #footer {
	background-color: #2d3436; 
	color: rgb(215, 215, 215);
    }

	.logo a, .nav-wrapper ul li a, .container h3, #footer p, #footer a, #footer h4 {
	color: rgb(215, 215, 215);
    }
    
	.nav-btn i  {
		background-color: rgb(215, 215, 215);
    }

    .logo a:hover, .nav-wrapper .active_nav, .nav-wrapper .underline:hover, #active, .nav-wrapper a:hover, #footer a:hover {
        color: rgb(153, 156, 117);
    }
    
    .nav-wrapper .active_nav::after, .nav-wrapper .underline:hover::after {
        background-color: rgb(153, 156, 117);
    }

	hr {
		display: none;
    }
    
	img { 
	filter: grayscale(30%); 
    }
}
