/*          Spezifisch        */
@font-face {      /* (Serif) */
  font-family: 'Selected';
  src: url('../fonts/a-trocchi-mittle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*          Allgemein         */
@font-face {      /* Logo-Font */
  font-family: 'Logo';
  src: url('../fonts/Everyday/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Navigation & stuff (Serif) */
  font-family: 'Hauptfont';
  src: url('../fonts/Everyday/Ogg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Titel-f für längere Texte (Sans Serif) */
  font-family: 'Title';
  src: url('../fonts/Everyday/apercu-title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {      /* Text-f für längere Texte (Sans Serif) */
  font-family: 'Text';
  src: url('../fonts/Everyday/apercu-text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box {
  position: absolute;
  width: 100%;
  height: 171px;
  top: 0;
  background: #FFFFFF;
  box-sizing: border-box;
}

.logo {
  z-index: 1;
  font-family: 'Logo', Georgia, Times, serif;
  font-size: 32px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: 5.2em;
  cursor: pointer;
}

.nav {
  font-family: 'Hauptfont';
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*min-height: 8vh;*/
  background-color: transparent;
  line-height: 40px;
  margin: 0em;
  margin-right: 5.8em;
  font-size: 18px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(90deg);
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
  width: 20px;
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.nav a, .logo a{
      color: black;
      text-decoration: none;
      transition: .3s;
}

.nav a:hover, .logo a:hover{
      color: #C2C5A2;
      text-decoration: none;
      transition: .3s;
}

.underline::after{
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #C2C5A2;
      transition: width .3s;
}

.underline:hover::after{
      width: 100%;
      transition: width .3s;
}

.nav .active_nav {
  color: #C2C5A2;
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #C2C5A2;
}

#active {
  color: #C2C5A2;
}

.hidden {
  display: none;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0px -1px 0 0;
  z-index: 1;
}

/* */
.outer-box {
  width: 1144px;
  height: 439px;
  left: 388px;
  top: 313px;
}

/* Select */
.select-outer-box {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0px -1px 0 0;
  z-index: 1;
}

.select-inner-box {
  position: absolute;
  width: 278px;
  height: 74px;
  left: 388px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  cursor: pointer;
}

.select-inner-box:hover {
  background: rgba(227, 229, 201, 0.25);
}

.line1, .line2, .line3, .line4, .line5, .line6 {
  z-index: 99;
  transition: .2s;

  position: absolute;
  width: 72px;
  margin-top: 33px;
  margin-left: -33px;
  
  border: 3px solid #C2C5A2;
  transform: rotate(90deg);

  display: none;
}

.settings {
  top: 313px;
}

.story {
  top: 386px;
}

.faq {
  top: 459px;
}

.contact {
  top: 532px;
}

.impressum {
  top: 605px;
}

.datenschutz {
  top: 678px;
}

.select-text {
  position: absolute;
  width: 250px;
  height: 19px;
  padding-left: 25px;
  padding-top: 27px;
  
  font-family: 'Selected';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  
  color: #000000;
}

/* Select Hover */

/* Content */
.content-box {
  position: absolute;
  width: 720px;
  height: 334px;
  left: 795px;
  top: 250px;
  /*overflow: scroll;
  overflow-x: hidden;*/
}

.content-title {
  padding-top: 75px;
  font-size: 41px;
  line-height: 51px;

  letter-spacing: 1px;
  font-family: 'Title';
  font-weight: 800;
  
  color: #000000;
}

.underline--magical {
  background-image: linear-gradient(240deg, #8EC4FC 0%, #E0C3FC 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #222;
}

.underline--magical:hover {
  background-size: 100% 100%;
  color: #222;
}

.content-text {
  padding-top: 5px;
  font-size: 24px;
  line-height: 31px;

  font-family: 'Text';
  
  color: #222222;
}

.c-faq #color-hover:hover {
  transition: .2s;
  color: #C2C5A2;
  text-decoration: none;
} 

#content-text-title-it {
  font-style: italic;
}

.c-impressum .content-text, .c-impressum a, #datenschutz .content-text, #datenschutz a {
  color: rgb(88, 94, 98);
  font-weight: normal;
}

.c-impressum span {
  font-weight: bold;
}

#color {
  color: #C2C5A2;
  font-style: none;
}

.desk br {
  display: unset;
}

a {
  transition: .3s;
  color:#000;
  text-decoration: none;
}

@media screen and (max-width: 915px) {
  body {
    overflow-x: hidden;
  }

  .box {
    height: 75px;
    top: 0;
  }

  .select-inner-box {
    display: none;
  }

  .content-box {
    top: 6%;
    left: 17%;
    width: 70%;
    text-align: center;
  }

  .desk br {
    display: none;
  }

  .outer-box {
    width: 915px;
  }

  .logo {
    font-size: 24px;
    margin: 1em 0 0 1.5em;
  }

  .nav-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  /* Resp. Nav. Textausrichtung */
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li a {
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    opacity: 0;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  /* Burger-Position */
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 17px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  /* Hamburger*/
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
    width: 17px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    width: 20px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
    width: 12px;
  }
  .active_nav::after {
    display: none;
  }
  .underline::after {
    display: none;
  }
}

@media screen and (max-width: 768px) { /* iPad sized */
  .outer-box {
    width: 768px;
  }
}

@media screen and (max-width: 603px) {
  .content-title {
    padding-top: 75px;
    font-size: 34px;
    line-height: 43px;

    letter-spacing: 1px;
  }

  .content-text {
    padding-top: 5px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 411px) {  /* Pixel2/XL sized */
  .outer-box {
    width: 411px;
  }
  .content-box {
    left: 11%;
    width: 80%;
  }
}

@media screen and (max-width: 396px) {  /* Pocophone sized */
  .outer-box {
    width: 396px;
  }
}

@media screen and (max-width: 375px) {  /* iPhone 6/7/8 sized */
  .outer-box {
    width: 375px;
  }
}

@media screen and (max-width: 375px) and (height: 812px) { /* iPhone X sized */
  .outer-box {
    width: 375px;
  }
}

@media screen and (max-width: 360px) {  /* Galaxy S5 sized */
  .outer-box {
    width: 360px;
  }
}

@media screen and (max-width: 320px) {  /* iPhone 5 sized */
  .outer-box {
    width: 320px;
  }
}
