@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@font-face {
  font-family: 'Dreamlight';
  src: url('../fonts/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exodus';
  src: url('../fonts/Exodus/ExodusDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Baskvill';
  src: url('../fonts/Baskvill.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EBECF0;
}
.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}
.container .card {
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    border-radius: 40px;
    background: #EBECF0;
    box-shadow:  20px 20px 40px #cfd0d3, 
                 -20px -20px 40px #ffffff;
}
.container .card:hover {
    box-shadow: inset 11px 11px 25px #c5c6ca, 
            inset -11px -11px 25px #ffffff;
}
.container .card .imgBx {
    position: relative;
    text-align: center;
}
.container .card .imgBx img {
    max-width: 120px;
}
.container .card .contentBx {
    position: relative;
    margin-top: 20px;
}
.container .card .contentBx .link {
    text-align: center;
}
.container .card .contentBx h2 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
    text-align: center;
}
.container .card .contentBx p {
    text-align: center;
    line-height: 1.7em;
    font-size: 18px;
}
.container .card .contentBx #business-t span,
.container .card .contentBx #private-t span,
.container .card .contentBx #help-t span {
    line-height: 1.7em;
    font-size: 16px;
}
#business-h {
    background-image: linear-gradient(to right top, #1758F1, #37DBE0);
}
#business-t, #business-t a {
    color: #2594E9;
}
#private-h {
    background-image: linear-gradient(to right top,#004d7a, #008793, #00bf72, #a8eb12);
}
#private-t, #private-t a {
    color: #008B91; 
}
#help-h {
    background-image: linear-gradient(to right top, #E1516A, #FEAD2A);
}
#help-t, #help-t a{
    color: #F28743;
}
.container .card .contentBx a {
    text-align: center;    
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 40px;
    box-shadow:  20px 20px 40px #cfd0d3, 
                 -20px -20px 40px #ffffff;
}
.container .card .contentBx a:hover {
    box-shadow: inset 5px 5px 23px #d1d2d6, 
            inset -5px -5px 23px #ffffff;
}
.container .card a:hover span {
    display: block;
    transform: scale(0.98);
}
.container .card:hover .imgBx, 
.container .card:hover .contentBx {
    transition: .2s;
    transform: scale(0.98);
}