@font-face {      /* Text-f für längere Texte (Sans Serif) */
    font-family: 'Text';
    src: url('../../fonts/Everyday/apercu-text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #5c6070;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Text', -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji";
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: bolder;
}

p {
    font-family: 'Text', 
}

p a {
    font-family: 'Hauptfont', -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji";
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
}

a {
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
    color: #5c6070;
}

a svg {
    position: relative;
    top: 2px;
}

a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-color: var(--hoverColor);
}

a:hover svg path{
    fill: #5c6070;
}

p:last-of-type {
    margin: 0;
}