@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://use.typekit.net/mfh5xwg.css);

@font-face {
  font-family: 'Garamond';
  src: url(https://use.typekit.net/mfh5xwg.css);
  font-weight: normal;
  font-style: normal;;
}

@font-face {
  font-family: 'Audrey';
  src: url('fonts/Audrey/Audrey-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exodus Stencil';
  src: url('fonts/Exodus/ExodusDemo-Stencil.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Salvalyn';
  src: url('fonts/Salvalyn Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dreamlight';
  src: url('fonts/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    padding: 13rem 0 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;
    font-size: 36px;
    letter-spacing: 7px;
    line-height: 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*min-height: 8vh;*/
    background-color: transparent;
    line-height: 40px;
    margin: 2.4em;
    margin-right: 5.2em;
    font-size: 18px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.logo {
  font-family: 'Dreamlight', Georgia, Times, serif;
  font-size: 24px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: 5.2em;
  cursor: pointer;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(90deg);
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
  width: 20px;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
  width: 20px;
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* .Line li {
  margin-left: 7.5%;
  display: block;
  height: 100vh;
  width: 0px;
  border: 0.5px solid rgba(230, 230, 230, 0.2);
  background: none;
} */


.bottom {
  background-color: white;
  font-family: adobe-garamond-pro, serif; 
  font-weight: 400;
  font-style: normal;
  cursor: crosshair;
}

.container{
  max-width: 1700px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #333;
  line-height: 2;
}

p {
  line-height: 1.6;
}

a {
  color:#000;
  text-decoration: none;
}

a:hover {
  color: #777;
  text-decoration: none;
}

.column {
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
}

.mail {
  margin-top: 11%;
  text-align: center;
  font-weight: 500;
}

.mail a{
  color: black;
  transition: .3s;
  text-decoration: none;
  transition: .3s;
}

.mail a:hover {
  color: #888;
  transition: .3s;
}

hr {
  width: 810px;
  border: 0.1px solid #d4d4d4;
  height: 1px;
  margin-left: 29%;
  margin-right: 50%;
}

#footer {
  background-color: #fff;
  padding: 50px;
  bottom: 50%;
  margin-left: 500px;
  cursor: crosshair;
}

#footer a {
  color: #000;
  text-decoration: none;
  transition: .3s;
}

#footer a:hover {
  color: #888;
  transition: .3s;
}

#footer h4 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: #000;
}

/* Form */

	form {
		margin: 7rem 20rem 0 20rem;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: -2rem 0 2rem -2rem;
			width: calc(100% + 4rem);
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 2rem 0 0 2rem;
				width: calc(100% - 2rem);
			}

				form > .fields > .field > :last-child {
					margin-bottom: 0;
				}

				form > .fields > .field.half {
					width: calc(50% - 1rem);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.66667rem);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.5rem);
				}

        li {
          list-style: none;
        }

	input[type="text"],
	input[type="email"],
	select,
  textarea {
    
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		color: inherit;
		display: block;
		text-decoration: none;
		width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    transition: .3s;
    resize: none;
	}

		input[type="text"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
      border-color: #2ee4bb;
      transition: .3s;
    }


    /* Button */

	input[type="submit"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		background-color: transparent;
		border-radius: 0.225rem;
		border: 0;
		box-shadow: inset 0 0 0 2px rgba(136, 136, 136, 0.25);
		color: #888 !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6rem;
		font-weight: 600;
		height: 3rem;
		letter-spacing: 0.175em;
		line-height: 3rem;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover {
			box-shadow: inset 0 0 0 2px #2ee4bb;
			color: #2ee4bb !important;
		}

		input[type="submit"]:active {
			box-shadow: inset 0 0 0 2px #2ee4bb;
			color: #2ee4bb !important;
    }
    

    #captcha {
      right: 50%;
    }

    .text {
      display: none;
    }

    .share-button{
      top: 5vh;
      left: 48%;
      width: 75px;
      height: 75px;
      background: #dfe6e9;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: .3s linear;
    }
    
    .share-button:hover{
      width: 220px;
      left: 44.3%;
    }
    
    .share-button span{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #2d3436;
      color: #f1f1f1;
      text-align: center;
      line-height: 80px;
      z-index: 999;
      transition: .6s linear;
      border-radius: 40px;
    }
    
    .share-button:hover span{
      transform: translateX(-100%);
      transition-delay: 0.3s;
    }
    
    .share-button a{
      flex: 1;
      font-size: 26px;
      color: #2d3436;
      text-align: center;
      transform: translateX(-100%);
      opacity: 0;
      transition: 0.3s linear;
    }
    
    .share-button:hover a{
      opacity: 1;
      transform: translateX(0);
    }
    
    .share-button a:nth-of-type(1){
      transition-delay: 1s;
    }
    
    .share-button a:nth-of-type(2){
      transition-delay: 0.8s;
    }
    
    .share-button a:nth-of-type(3){
      transition-delay: 0.6s;
    } 

    @media screen and (max-width: 768px) {
      .wrapper {
        width: 100%;
        height: 78vh;
        padding: 7rem 0;
        font-size: 30px;
        letter-spacing: 4px;
      }
      .logo {
        margin: 1em 0 0 1.5em;
      }
      .text1 {
        display: none;
      }
      .text {
        display: block;
      }
      hr {
        margin-top: 41%;
        width: 46.8%;    /*53,2194%*/
        padding: 0;
        
      }
      #footer {
        bottom: 100%;
        margin-left: 0;
        text-align: center;
      }
      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }
    
      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }
    
      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }
    
      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }
    
      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }
    
      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }
    
      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }
    
      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }
    
      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }
    
      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            z-index: 9999;
            border-radius: 50%;
      }
    
      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }
    
      .nav-btn i:nth-child(1) {
            margin-top: 16px;
            width: 17px;
      }
    
      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
            width: 20px;
      }
    
      .nav-btn i:nth-child(3) {
            margin-top: 4px;
            width: 12px;
      }

      form {
        margin-top: 3.25rem;
        margin-left: 10%;
        width: 80%;
      }

      textarea {
        height: 5rem;
      }

			input[type="text"] {
				padding: 10px 5px;
			}

      input[type="submit"] {
	      font-size: 0.7rem;
      	height: 3.3rem;
        line-height: 3.3rem;
      }
      
      .share-button {
        left: 40%;
      }
      .share-button:hover{
      width: 220px;
      left: 22.1%;
    }
  }
