@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@font-face {
  font-family: 'Dreamlight';
  src: url('fonts/Dreamlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(BilderTitle2.jpg) no-repeat 50% 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.parallax {
    padding: 0;
    width: 100%;
    height: 50vh;
    position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*min-height: 8vh;*/
  background-color: transparent;
  line-height: 40px;
  margin: 2.4em;
  margin-right: 5.2em;
  font-size: 18px;
  position: absolute;
  right: 0;
}

.logo {
  font-family: 'Dreamlight', Georgia, Times, serif;
  font-size: 24px;
  line-height: 30px;
  float: left;
  margin: 2.2em;
  margin-left: 5.2em;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding-right: 36px;
}

@media screen and (max-width: 768px) {
  .social-media {
        display: none;
  }
  .logo {
  	margin: 1em 0 0 1.5em;
  }
  .logo {
        padding: 0;
  }
  .overlay {
        text-align: center;
  }
  .side-strip {
        display: none;
  }
  button {
        padding: 10px 20px;
        right: 50%;
  }
  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
  }
  .Line {
        display: none;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(90deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(180deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* .Line li {
  margin-left: 7.5%;
  display: block;
  height: 100vh;
  width: 0px;
  border: 0.5px solid rgba(230, 230, 230, 0.2);
  background: none;
} */


.bottom {
  background-color: #ECEDEF;
  font-family: 'Poppins';
  font-size: 17px;
}

.container{
  max-width: 1700px;
  margin: 0 auto;
}

.bilder {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.bilder-image img{
  width: 75px;
  height: 75px;
  vertical-align: middle;
  border-radius: 50%;
}

h1, h2, h3, h4 {
  color: #333;
  line-height: 2;
}

p {
  line-height: 1.6;
}

a {
  color:#000;
  text-decoration: none;
}

a:hover {
  color: #777;
  text-decoration: none;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer {
  background-color: #222222;
  padding: 50px 0;
}

#footer a {
  color: #C5EDC6;
  text-decoration: none;
}

#footer a:hover {
  color: white;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}
