@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: 'Poppins' !important;
}

body {
      background: url(title.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.logo {
      font-family: 'Poiret One', Georgia, Times, serif;
      font-size: 20px;
      line-height: 30px;
      float: left;
      margin: 1.2em 0 0 2.2em;
}

.nav {
      line-height: 40px;
      margin: 1.2em;
      position: absolute;
      right: 0;
}

.nav ul li {
      list-style: none;
      display: inline-block;
      color: #fff;
      padding-right: 36px;
}

.social-media {
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translateY(-50%);
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.side-strip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -4em;
      transform: rotate(90deg);
      color: #fff;
      letter-spacing: 4px;
}

.myBtn {
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.myBtn a{
      text-decoration: none;
      color: #fff;
}

.myBtn a:hover{
      text-decoration: none;
      color: #000;
}

 button {
      display: block;
      padding: 16px 40px;
      font-family: Poppins;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 6px;
      color: #fff;
      border: 1.5px solid #fff;
      text-transform: uppercase;
      outline: none;
      overflow: hidden;
      background: none;
      z-index: 1;
      cursor: crosshair;
      transition: 0.8s ease-out;
 }
 
 .myBtn:hover {
      color: #101010;
      cursor: crosshair;
 }
 
 .myBtn:before {
      content: "";
      position: absolute;
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      transition: top 0.8s ease-out;
 }
 
 .myBtn:hover:before {
      top: 0;
 }
 
.overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
}

.overlay img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      height: 100vh;
      padding: 0;
      background-position: center;
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      font-weight: bolder;
      letter-spacing: 10px;
}

.nav a, .social-media a, .logo a{
      color: white;
      text-decoration: none;
      transition: .3s;
}

.nav a:hover, .social-media a:hover, .logo a:hover{
      color: lightgray;
      text-decoration: none;
      transition: .3s;
}

.share {                            /*Bedarfsfunktion, wenn Sm als Button sein soll (Media)*/
      display: none;
}

@media screen and (max-height: 640) {
      .side-strip {
            display: none;
      }
      button {
            padding: 10px 20px;
            right: 50%;
      }
}
      
@media screen and (max-width: 768px) {
      .social-media {
            display: none;
      }
      .logo {
            padding: 0;
      }
      .overlay {
            text-align: center;
      }
      .side-strip {
            display: none;
      }
      button {
            padding: 10px 20px;
            right: 50%;
      }
      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #fff;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
      .Line {
            display: none;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(135deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}

/* .Line li {
      margin-left: 7.5%;
      display: block;
      height: 100vh;
      width: 0px;
      border: 0.5px solid rgba(230, 230, 230, 0.2);
      background: none;
} */
