@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
 margin: 0;
 color: #555;
	
 background-color: #C2D4D8;		
 font-family: 'Ubuntu', sans-serif;
 background:url(USA-Blue.jpg);
  	}

#header {
	height: 150px;
	line-height: 150px;
}

#header a{
	color: white;
	text-decoration: none;
	
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover {
	color: #222;
}

#header-title {
	display: block;
	float: left;
	
	font-size: 20px;
	font-weight: bold;
}

#header-nav {
	display: block;
	float: right;
	margin-top: 0;
}

#header-nav li {
	display: inline;
	padding-left: 20px;
}

#contact {
  width: 400px;
  height: 100px;
  padding: 10px;
  border: 2px white solid;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
}

#footer {
	background-color: #a9bdc2;
	padding: 50px 0;
}

#footer a:hover {
	color: white;
}


#footer h4 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#footer p {
	color: white;
}

.column {
	min-width: 300px;
	display: inline-block;
	vertical-algin: top;
}

a {
	color: #C5EDC6;
	text-decoration: none;
  
}
a hover {
	color: #F6A623;
  text-decoration: underline;
}

p {
 line-height: 1.5;
}

.post {
 max-width: 800px;
 margin: 0 auto;
 padding: 60px 0;
}

.about {
 max-width: 800px;
 margin: 0 auto;
 padding: 60px 0;
 text-algin: center;
}

.post-author img, .about-author img{
 width: 75px;
 height: 75px;
 vertical-algin: middle;
 border-radius: 50%;
}
  		
.post-author span, .about-author span{
 margin-left: 16px;
}
  	
.post-date{
 color: #828d8f;
  	
 font-size: 14px;
 font-weight: bold;
  	
 text-transform: uppercase;
 letter-spacing: 0.1em;
}
  	
h1, h2, h3, h4 {
 color: #333;
}

.post-content:nth-child(even) {
  background-color: #a9bdc2;
  border: 1.5px #a9bdc2 solid;
  padding: 7px;
}
