@font-face {
  font-family: "Red Rose";
  src: url("/src/fonts/BoldTitle/RedRose-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueMetana";
  src: url("/src/fonts/BoldTitle/NeueMetana-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neutro";
  src: url("/src/fonts/BoldTitle/Neutro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  cursor: none;
  --Black: #111213;
  --White: #FAFAFA;
}
* ::-moz-selection {
  color: var(--White);
  background: var(--Black);
}
* ::selection {
  color: var(--White);
  background: var(--Black);
}
* ::-moz-selection {
  color: var(--White);
  background: var(--Black);
}

img, .icon, .sidebar-text, .img-nav, .brand-logo {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
  overflow: hidden;
  background-color: var(--White);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(49.88%, var(--White)), color-stop(49.88%, #ddd), color-stop(50%, #ddd), color-stop(50%, var(--White)), color-stop(99.88%, var(--White)), color-stop(99.88%, #ddd), to(#ddd));
  background-image: linear-gradient(90deg, var(--White) 49.88%, #ddd 49.88%, #ddd 50%, var(--White) 50%, var(--White) 99.88%, #ddd 99.88%, #ddd 100%);
  background-size: 800px 800px;
}

a {
  text-decoration: none;
  color: var(--Black);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#no-js {
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
}
#no-js span {
  color: #e25050;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2;
}
.wrapper .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8%;
  height: 20vh;
  background: var(--White);
  z-index: 2;
}

nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
nav .menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
nav .menu-left {
  text-align: left;
}
nav .menu-center {
  text-align: center;
}
nav .menu-right {
  text-align: right;
}
nav .menu-right .icon a {
  padding-left: 20px;
}
nav .menu-right .icon a img {
  width: 18px;
  height: auto;
}
nav .menu-right .icon a#first-image {
  padding-right: 5px;
}
nav .menu-link {
  padding: 0 30px;
}

.coming-soon-banner {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}
.coming-soon-banner #coso-banner-1 {
  display: block;
  width: 50px;
  height: 50px;
}

.wrapper-img {
  overflow: hidden;
  position: relative;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 30%;
  height: 90vh;
}
.wrapper-img .box {
  background: var(--White);
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.wrapper-img .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-img .image-1, .wrapper-img .image-2, .wrapper-img .image-3, .wrapper-img .image-4 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  top: 60%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--Black);
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: difference;
}
.header h1 {
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
  font-family: "Red Rose", Roboto;
}
.header .header-1:hover .letter, .header .header-1.play .letter, .header .header-2:hover .letter, .header .header-2.play .letter {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header .header-1 .block:last-child, .header .header-2 .block:last-child {
  color: #d3a13b;
  margin-top: -22px;
}
.header .header-1 .letter, .header .header-2 .letter {
  display: inline-block;
  line-height: 1em;
}

.animationHeader {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.animationHeader:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.animationHeader:nth-child(2) {
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
}

.animationHeader:nth-child(3) {
  -webkit-transition-delay: 0.04s;
          transition-delay: 0.04s;
}

.animationHeader:nth-child(4) {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}

.animationHeader:nth-child(5) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.animationHeader:nth-child(6) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animationHeader:nth-child(7) {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}

.animationHeader:nth-child(8) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.animationHeader:nth-child(9) {
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.animationHeader:nth-child(10) {
  -webkit-transition-delay: 0.18s;
          transition-delay: 0.18s;
}

.animationHeader:nth-child(11) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animationHeader:nth-child(12) {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
}

.animationHeader:nth-child(13) {
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.animationHeader:nth-child(14) {
  -webkit-transition-delay: 0.26s;
          transition-delay: 0.26s;
}

.animationHeader:nth-child(15) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.animationHeader:nth-child(16) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animationHeader:nth-child(17) {
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

.animationHeader:nth-child(18) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}

.animationHeader:nth-child(19) {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}

.animationHeader:nth-child(20) {
  -webkit-transition-delay: 0.38s;
          transition-delay: 0.38s;
}

.animationHeader:nth-child(21) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation-other {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation-other {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.hero-container .sidebar-text {
  position: absolute;
  top: 20%;
  right: 7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px #a5a5a5;
}
.hero-container .projects {
  position: absolute;
  bottom: 10%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.hero-container .projects .lineThrough {
  color: #1b202d;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.hero-container .projects .lineThrough::before {
  content: "";
  position: absolute;
  top: 50%;
  background: var(--Black);
  height: 1.5px;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(-101%, 0, 0);
          transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
.hero-container .projects .lineThrough::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Black);
  -webkit-transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
          transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
.hero-container .projects .lineThrough:hover::after {
  -webkit-transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
          transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
}
.hero-container .projects .lineThrough:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.hero-container #accept-cookie, .hero-container #cookie-accepted {
  position: absolute;
  bottom: 30%;
  right: 15%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hero-container #accept-cookie:hover, .hero-container #cookie-accepted:hover {
  background-color: #fd5a5a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.hero-container #accept-cookie {
  -webkit-animation: rotation 8.5s cubic-bezier(0.65, 0, 0.35, 1);
          animation: rotation 8.5s cubic-bezier(0.65, 0, 0.35, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.hero-container #accept-cookie #a-c-banner #rotated div span {
  position: absolute;
  bottom: auto;
  left: 50%;
  -webkit-transform-origin: center 4.07679em;
          transform-origin: center 4.07679em;
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(1) {
  -webkit-transform: translateX(-0.13916em) rotate(-186.79deg);
          transform: translateX(-0.13916em) rotate(-186.79deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(2) {
  -webkit-transform: translateX(-0.333496em) rotate(-173.79deg);
          transform: translateX(-0.333496em) rotate(-173.79deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(3) {
  -webkit-transform: translateX(-0.361328em) rotate(-160.851deg);
          transform: translateX(-0.361328em) rotate(-160.851deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(4) {
  -webkit-transform: translateX(-0.361328em) rotate(-147.393deg);
          transform: translateX(-0.361328em) rotate(-147.393deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(5) {
  -webkit-transform: translateX(-0.333496em) rotate(-134.454deg);
          transform: translateX(-0.333496em) rotate(-134.454deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(6) {
  -webkit-transform: translateX(-0.333496em) rotate(-122.034deg);
          transform: translateX(-0.333496em) rotate(-122.034deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(7) {
  -webkit-transform: translateX(-0.296387em) rotate(-110.304deg);
          transform: translateX(-0.296387em) rotate(-110.304deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(8) {
  -webkit-transform: translateX(-0.13916em) rotate(-102.193deg);
          transform: translateX(-0.13916em) rotate(-102.193deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(9) {
  -webkit-transform: translateX(-0.361328em) rotate(-92.8733deg);
          transform: translateX(-0.361328em) rotate(-92.8733deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(10) {
  -webkit-transform: translateX(-0.38916em) rotate(-78.8978deg);
          transform: translateX(-0.38916em) rotate(-78.8978deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(11) {
  -webkit-transform: translateX(-0.38916em) rotate(-64.4039deg);
          transform: translateX(-0.38916em) rotate(-64.4039deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(12) {
  -webkit-transform: translateX(-0.333496em) rotate(-50.9467deg);
          transform: translateX(-0.333496em) rotate(-50.9467deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(13) {
  -webkit-transform: translateX(-0.13916em) rotate(-42.1449deg);
          transform: translateX(-0.13916em) rotate(-42.1449deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(14) {
  -webkit-transform: translateX(-0.333496em) rotate(-33.3431deg);
          transform: translateX(-0.333496em) rotate(-33.3431deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(15) {
  -webkit-transform: translateX(-0.333496em) rotate(-20.9224deg);
          transform: translateX(-0.333496em) rotate(-20.9224deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(16) {
  -webkit-transform: translateX(-0.13916em) rotate(-12.1206deg);
          transform: translateX(-0.13916em) rotate(-12.1206deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(17) {
  -webkit-transform: translateX(-0.200195em) rotate(-5.80117deg);
          transform: translateX(-0.200195em) rotate(-5.80117deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(18) {
  -webkit-transform: translateX(-0.111328em) rotate(0deg);
          transform: translateX(-0.111328em) rotate(0deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(19) {
  -webkit-transform: translateX(-0.333496em) rotate(8.28349deg);
          transform: translateX(-0.333496em) rotate(8.28349deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(20) {
  -webkit-transform: translateX(-0.361328em) rotate(21.2225deg);
          transform: translateX(-0.361328em) rotate(21.2225deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(21) {
  -webkit-transform: translateX(-0.361328em) rotate(34.6797deg);
          transform: translateX(-0.361328em) rotate(34.6797deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(22) {
  -webkit-transform: translateX(-0.333496em) rotate(47.6187deg);
          transform: translateX(-0.333496em) rotate(47.6187deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(23) {
  -webkit-transform: translateX(-0.333496em) rotate(60.0394deg);
          transform: translateX(-0.333496em) rotate(60.0394deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(24) {
  -webkit-transform: translateX(-0.296387em) rotate(71.769deg);
          transform: translateX(-0.296387em) rotate(71.769deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(25) {
  -webkit-transform: translateX(-0.13916em) rotate(79.8798deg);
          transform: translateX(-0.13916em) rotate(79.8798deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(26) {
  -webkit-transform: translateX(-0.361328em) rotate(89.1998deg);
          transform: translateX(-0.361328em) rotate(89.1998deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(27) {
  -webkit-transform: translateX(-0.38916em) rotate(103.175deg);
          transform: translateX(-0.38916em) rotate(103.175deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(28) {
  -webkit-transform: translateX(-0.38916em) rotate(117.669deg);
          transform: translateX(-0.38916em) rotate(117.669deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(29) {
  -webkit-transform: translateX(-0.333496em) rotate(131.126deg);
          transform: translateX(-0.333496em) rotate(131.126deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(30) {
  -webkit-transform: translateX(-0.13916em) rotate(139.928deg);
          transform: translateX(-0.13916em) rotate(139.928deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(31) {
  -webkit-transform: translateX(-0.333496em) rotate(148.73deg);
          transform: translateX(-0.333496em) rotate(148.73deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(32) {
  -webkit-transform: translateX(-0.333496em) rotate(161.151deg);
          transform: translateX(-0.333496em) rotate(161.151deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(33) {
  -webkit-transform: translateX(-0.13916em) rotate(169.953deg);
          transform: translateX(-0.13916em) rotate(169.953deg);
}
.hero-container #accept-cookie #a-c-banner #rotated div span:nth-child(34) {
  -webkit-transform: translateX(-0.200195em) rotate(176.272deg);
          transform: translateX(-0.200195em) rotate(176.272deg);
}
.hero-container #cookie-accepted {
  display: none;
  -webkit-animation: rotation-other 8.5s cubic-bezier(0.65, 0, 0.35, 1);
          animation: rotation-other 8.5s cubic-bezier(0.65, 0, 0.35, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span {
  position: absolute;
  bottom: auto;
  left: 50%;
  -webkit-transform-origin: center 4.07679em;
          transform-origin: center 4.07679em;
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(1) {
  -webkit-transform: translateX(-0.148411em) rotate(-177.195deg);
          transform: translateX(-0.148411em) rotate(-177.195deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(2) {
  -webkit-transform: translateX(-0.342716em) rotate(-167.912deg);
          transform: translateX(-0.342716em) rotate(-167.912deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(3) {
  -webkit-transform: translateX(-0.370544em) rotate(-154.431deg);
          transform: translateX(-0.370544em) rotate(-154.431deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(4) {
  -webkit-transform: translateX(-0.398373em) rotate(-139.897deg);
          transform: translateX(-0.398373em) rotate(-139.897deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(5) {
  -webkit-transform: translateX(-0.305614em) rotate(-126.591deg);
          transform: translateX(-0.305614em) rotate(-126.591deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(6) {
  -webkit-transform: translateX(-0.398373em) rotate(-113.285deg);
          transform: translateX(-0.398373em) rotate(-113.285deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(7) {
  -webkit-transform: translateX(-0.398373em) rotate(-98.2261deg);
          transform: translateX(-0.398373em) rotate(-98.2261deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(8) {
  -webkit-transform: translateX(-0.370544em) rotate(-83.6928deg);
          transform: translateX(-0.370544em) rotate(-83.6928deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(9) {
  -webkit-transform: translateX(-0.342716em) rotate(-70.2115deg);
          transform: translateX(-0.342716em) rotate(-70.2115deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(10) {
  -webkit-transform: translateX(-0.342716em) rotate(-57.2562deg);
          transform: translateX(-0.342716em) rotate(-57.2562deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(11) {
  -webkit-transform: translateX(-0.370546em) rotate(-43.7748deg);
          transform: translateX(-0.370546em) rotate(-43.7748deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(12) {
  -webkit-transform: translateX(-0.333929em) rotate(-30.4595deg);
          transform: translateX(-0.333929em) rotate(-30.4595deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(13) {
  -webkit-transform: translateX(-0.148411em) rotate(-21.3428deg);
          transform: translateX(-0.148411em) rotate(-21.3428deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(14) {
  -webkit-transform: translateX(-0.209436em) rotate(-14.5791deg);
          transform: translateX(-0.209436em) rotate(-14.5791deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(15) {
  -webkit-transform: translateX(-0.148409em) rotate(-7.81552deg);
          transform: translateX(-0.148409em) rotate(-7.81552deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(16) {
  -webkit-transform: translateX(-0.370546em) rotate(1.99325deg);
          transform: translateX(-0.370546em) rotate(1.99325deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(17) {
  -webkit-transform: translateX(-0.342716em) rotate(15.4746deg);
          transform: translateX(-0.342716em) rotate(15.4746deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(18) {
  -webkit-transform: translateX(-0.342716em) rotate(28.43deg);
          transform: translateX(-0.342716em) rotate(28.43deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(19) {
  -webkit-transform: translateX(-0.148411em) rotate(37.7127deg);
          transform: translateX(-0.148411em) rotate(37.7127deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(20) {
  -webkit-transform: translateX(-0.398373em) rotate(48.0475deg);
          transform: translateX(-0.398373em) rotate(48.0475deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(21) {
  -webkit-transform: translateX(-0.370544em) rotate(62.5808deg);
          transform: translateX(-0.370544em) rotate(62.5808deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(22) {
  -webkit-transform: translateX(-0.148411em) rotate(72.3895deg);
          transform: translateX(-0.148411em) rotate(72.3895deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(23) {
  -webkit-transform: translateX(-0.209436em) rotate(79.1532deg);
          transform: translateX(-0.209436em) rotate(79.1532deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(24) {
  -webkit-transform: translateX(-0.148411em) rotate(85.9169deg);
          transform: translateX(-0.148411em) rotate(85.9169deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(25) {
  -webkit-transform: translateX(-0.370544em) rotate(95.7256deg);
          transform: translateX(-0.370544em) rotate(95.7256deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(26) {
  -webkit-transform: translateX(-0.398373em) rotate(110.259deg);
          transform: translateX(-0.398373em) rotate(110.259deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(27) {
  -webkit-transform: translateX(-0.370544em) rotate(124.792deg);
          transform: translateX(-0.370544em) rotate(124.792deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(28) {
  -webkit-transform: translateX(-0.148411em) rotate(134.601deg);
          transform: translateX(-0.148411em) rotate(134.601deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(29) {
  -webkit-transform: translateX(-0.370544em) rotate(144.41deg);
          transform: translateX(-0.370544em) rotate(144.41deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(30) {
  -webkit-transform: translateX(-0.398375em) rotate(158.943deg);
          transform: translateX(-0.398375em) rotate(158.943deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(31) {
  -webkit-transform: translateX(-0.148411em) rotate(169.278deg);
          transform: translateX(-0.148411em) rotate(169.278deg);
}
.hero-container #cookie-accepted #a-c-banner-changed #rotated-changed div span:nth-child(32) {
  -webkit-transform: translateX(-0.209435em) rotate(176.041deg);
          transform: translateX(-0.209435em) rotate(176.041deg);
}
.hero-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85px;
  height: 85px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--Black);
}

.img-nav {
  position: absolute;
  right: 13%;
  bottom: 13%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: grey;
}
.img-nav #next-button {
  position: relative;
  top: 40px;
  left: 80px;
}

.cursor {
  position: fixed;
  bottom: -20px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: var(--White);
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.small-cursor {
  position: fixed;
  bottom: -20px;
  right: -20px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  background-color: var(--Black);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media screen and (max-width: 1024px) {
  .header-image .image {
    width: 140%;
    height: 140%;
    padding-top: 51px;
  }
}
@media screen and (max-width: 900px) {
  body {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(49.67%, #fff), color-stop(49.67%, #ddd), color-stop(50%, #ddd), color-stop(50%, #fff), color-stop(99.67%, #fff), color-stop(99.67%, #ddd), to(#ddd));
    background-image: linear-gradient(90deg, #fff 49.67%, #ddd 49.67%, #ddd 50%, #fff 50%, #fff 99.67%, #ddd 99.67%, #ddd 100%);
    background-size: 302px 302px;
  }

  .wrapper-img {
    width: 90%;
  }

  .header-image .image {
    width: 110%;
    height: 110%;
    padding-top: 0;
  }

  .header {
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .header h1 {
    font-size: 40px;
    color: var(--Black);
  }

  .menu-right .icon a.first-image {
    display: none;
  }

  #accept-cookie, #cookie-accepted {
    bottom: 7% !important;
    left: calc(50% - 60px);
  }

  .projects {
    display: none;
  }

  .img-nav {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  * {
    cursor: pointer;
  }

  .cursor, .small-cursor {
    display: none;
  }
}
/*# sourceMappingURL=coso-index.css.map */