* {
  cursor: none;
  --Black: #111213;
  --White: #FAFAFA;
}
* ::-moz-selection {
  color: var(--White);
  background: var(--Black);
}
* ::selection {
  color: var(--White);
  background: var(--Black);
}
* ::-moz-selection {
  color: var(--White);
  background: var(--Black);
}

img, .icon, .sidebar-text, .img-nav, .brand-logo {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
  overflow: hidden;
  background: var(--White);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
  overflow: hidden;
  background: var(--White);
}

nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--Black);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-left {
  text-align: left;
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
}
.menu-right .icon a {
  padding-left: 20px;
}
.menu-right .icon a img {
  width: 18px;
  height: auto;
}

.menu-link {
  padding: 0 30px;
}

.wrapper-img {
  overflow: hidden;
  position: relative;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 30%;
  height: 90vh;
}

.header-image .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.header-image #image-1 {
  content: url("/src/img/title2.jpg");
}

.header-image #image-2 {
  content: url("/src/img/picture3.jpg");
}

.header-image #image-3 {
  content: url("/src/img/Police-2.JPG");
}

.header-image #image-4 {
  content: url("/src/img/index-bg-2.jpg");
}

.box {
  background: var(--White);
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header {
  position: absolute;
  top: 60%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: difference;
}
.header h1 {
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
}

.header-1 .letter {
  display: inline-block;
  line-height: 1em;
}

.header-2 .letter {
  display: inline-block;
  line-height: 1em;
}

.sidebar-text {
  position: absolute;
  top: 20%;
  right: 7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px #a5a5a5;
}

.projects {
  position: absolute;
  bottom: 10%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.lineThrough {
  color: #1b202d;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.lineThrough::before {
  content: "";
  position: absolute;
  top: 50%;
  background: var(--Black);
  height: 1.5px;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(-101%, 0, 0);
          transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.lineThrough::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Black);
  -webkit-transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
          transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.lineThrough:hover::after {
  -webkit-transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
          transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
}

.lineThrough:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.img-nav {
  position: absolute;
  right: 13%;
  bottom: 13%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: grey;
}

.next {
  position: relative;
  top: 40px;
  left: 80px;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8%;
  height: 20vh;
  background: var(--White);
  z-index: 2;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--White);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@media screen and (max-width: 1024px) {
  .header-image .image {
    width: 140%;
    height: 140%;
    padding-top: 51px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper-img {
    width: 90%;
  }

  .header-image .image {
    width: 110%;
    height: 110%;
    padding-top: 0;
  }

  .header {
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  .header h1 {
    font-size: 40px;
    color: #fff;
  }

  .projects {
    display: none;
  }

  .img-nav {
    display: none;
  }
}
/*# sourceMappingURL=coso-index.css.map */