@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {	
	font-family: 'Monument Extended';
	src: url('/src/fonts/MonumentExtended-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {	
	font-family: 'Rany';
	src: url('/src/fonts/testLab/Rany.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {	
	font-family: 'MexaRegular';
	src: url('/src/fonts/testLab/MexaRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	cursor: none;
    ::selection {
        color: var(--White);
        background: var(--Black);
    }
    ::-moz-selection {
        color: var(--White);
        background: var(--Black);
    }
	--Black: #111213;
	--White: #FAFAFA;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Monument Extended', sans-serif;
}

html {
	background-color: var(--White);
}

body {
	background-image: linear-gradient(90deg, var(--White) 49.88%,
	#ddd 49.88%, #ddd 50%, var(--White) 50%, var(--White) 99.88%,
	#ddd 99.88%, #ddd 100%);
	background-size: 800.00px 800.00px;	
}

img, .icon, .sidebar-text, .img-nav, .brand-logo {
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a {
	text-decoration: none;
	color: var(--Black);
	transition: .2s;
}

#no-js {
	border: 1px solid grey;
	text-align: center;
	padding: 10px;
	span {
		color: rgb(226, 80, 80);
	}
}

nav {
	width: 80%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	.menu-item {
		flex: 1;
	}
	.menu-left {
		text-align: left;
		a:last-child {
			padding-left: 60px;
		}
	}
	.menu-center {
		text-align: center;
	}
	.menu-right {
		text-align: right;
		.icon {
			a {
				padding-left: 20px;
				img {
					width: 18px;
					height: auto;
				}
			}
			a#first-image {
				padding-right: 5px;
			}
		}
	}
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em;
    z-index: 2;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: black;
}

section {
    width: 100vw;
    height: 100vh;
}

.hero h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	font-family: 'MexaRegular';
	font-size: 20vw;
}

.card.scroll {
    position: relative;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
}

.footer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.footer h1 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -2px;
}
  
.footer {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		position: relative;
		top: 30px;
		text-decoration: none;
		font-family: 'Rany', sans-serif;
		font-weight: 400;
		font-size: 1.4em;
		transition: 1s;
	}
}

.cursor {
	position: fixed;
	bottom: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background-color: var(--White);
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	z-index: 999;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.small-cursor {
	position: fixed;
	bottom: -20px;
	right: -20px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	pointer-events: none;
	z-index: 999;
	background-color: var(--Black);
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}

@media screen and (max-width: 1024px) {
	//
}

@media screen and (max-width: 900px) {
	body {
		background-image: linear-gradient(90deg, #fff 49.67%,
		#ddd 49.67%, #ddd 50%, #fff 50%, #fff 99.67%,
		#ddd 99.67%, #ddd 100%);
		background-size: 302.00px 302.00px;	
	}
	.menu-right .icon a.first-image {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	nav .menu-left {
		padding: 0 30px;
		a:last-child {
			padding-left: 0;
		}
	}
	.cursor, .small-cursor {
		display: none;
	}	
}